$header-color: #ffff;

.header-style{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 90px;
    background-color: #ada0a0;

    .header-link{
        color: $header-color;
    }

    .container{
        
    }
}